<div class="container">
    <h1 class="text-center mb-3">Todo List by <strong>CodeWithSuleman</strong></h1>

<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<div *ngIf="this.todos.length===0; else elseBlock"><strong>No Todos to Display</strong></div>
<ng-template #elseBlock>
    <h2><strong>Your Todos</strong></h2>
    <div *ngFor="let todo of todos;index as i">
        <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
    </div>
</ng-template>
</div>